PORT=3000
FRONTEND_ORIGIN=https://redecats.github.io
PUBLIC_BACKEND_URL=https://seu-backend.onrender.com
MERCADOPAGO_ACCESS_TOKEN=APP_USR-SEU_ACCESS_TOKEN

DELIVERY_BRIDGE_TOKEN=troque-por-um-token-forte

# RCON do servidor Minecraft
RCON_HOST=ultra-04.bedhosting.com.br
RCON_PORT=37050
RCON_PASSWORD=troque-por-uma-senha-nova
RCON_TIMEOUT_MS=10000
